1.Write a program to find sum of all elements in a list of integers.

In [ ]:
listp=[5,10,15,20,25,30]
total=sum(listp)
print("The sum of all elements in the list is",total)

The sum of all elements in the list is 105

2.Input a sentence as a string.
a)
Print its length
b)
Print the first half of string

In [ ]:
a="I am Bindu"
print (" a) The lenght of string is", len(a))
print (' b) The first half of string is :', a[0:5])

 a) The lenght of string is 10
 b) The first half of string is : I am

3.Write a program to enter a tuple of integers as (78,45,32,19,82,77,40,39). Change the third value in the tuple to 100

In [ ]:
# Tuple is unchangable or immutable
# To change the value of a tuple, first convert it to list
# change the value in the list
#convert list back to tuple
p=(78,45,32,19,82,77,40,39)
lis=list(p) # converting tuple to list

In [ ]:
lis[2]=100 #changing the third value of list to 100

In [ ]:

u=tuple(lis) # converting list back to tuple
print("The tuple after changing third value to 100 is",u)

The tuple after changing third value to 100 is (78, 45, 32, 19, 82, 77, 40, 39)

4.Consider a list listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]

(a)Delete the first occurrence of 32

(b)Delete all occurrences of 40

(c)Delete the value at index=5

(d)Modify the value at index=9 as 300

(e)Add 200 at index=2

(f)Print the final list with its length, maximum value and sum of all elements

In [ ]:
 listA = [19,32,10,55,31,32,94,29,10,65,77,40,40]

a)Delete the first occurrence of 32

In [ ]:
listA.remove(32)
print (listA)

[19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]

b) Delete all occurrences of 40

In [ ]:

while listA.count(40)>0:
  listA.remove(40)
  print(listA)

[19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40]
[19, 10, 55, 31, 32, 94, 29, 10, 65, 77]

c)Delete the value at index=5

In [ ]:
listA=[19, 10, 55, 31, 32, 94, 29, 10, 65, 77]
del listA[5]
print(listA)

[19, 10, 55, 31, 32, 29, 10, 65, 77]

d) Modify the value at index=9 as 300

In [ ]:
 listA= [19,32,10,55,31,32,94,29,10,65,77,40,40] #since the above list doesnt have index 9,list in the question is considered

 listA[9]=300
 print(listA)

[19, 32, 10, 55, 31, 32, 94, 29, 10, 300, 77, 40, 40]

e) Add 200 at index=2

In [ ]:
listA=[19, 10, 55, 31, 32, 29, 10, 65, 77]
listA.insert(2,200)
print(listA)

[19, 10, 200, 55, 31, 32, 29, 10, 65, 77]

f) Print the final list with its length, maximum value and sum of all elements

In [ ]:
listA=[19, 10, 200, 55, 31, 32, 29, 10, 65, 77]

print ('The length of the final list is',len(listA))

listA.sort()
print("The maximum value in the list is",listA[9])
total=sum(listA)
print('the sum of all elements in the list is', total)

The length of the final list is 10
The maximum value in the list is 200
the sum of all elements in the list is 528

5.Consider a string ”The day has been long”.
(a)Delete the value at index =4


(b)Print the string 4 times in a single line with space between each repetition


(c)Print the string 3 times in a new line each time


(d)Modify the string at index 7 as ’A’

(e)Print the string from index 4 to 15


(f)Print the final string with its length

In [ ]:
t= 'The day has been long'

print(t[4])

d

In [ ]:
print(t.replace('d',''))

The ay has been long

b) Print the string 4 times in a single line with space between each repetition

In [ ]:

 t= 'The day has been long   '
 print(t*4 )

The day has been long   The day has been long   The day has been long   The day has been long

c)Print the string 3 times in a new line each time

In [ ]:
'The day has been long'
print('The day has been long\n'*3)

The day has been long
The day has been long
The day has been long

d) Modify the string at index 7 as ’A’

In [ ]:


list1=list('The day has been long') #converting string to list
print(list1)
list1[7]='A' #replacing index7 with "A"
print(list1)
y=''.join(list1) #converting back to string
print(y)

['T', 'h', 'e', ' ', 'd', 'a', 'y', ' ', 'h', 'a', 's', ' ', 'b', 'e', 'e', 'n', ' ', 'l', 'o', 'n', 'g']
['T', 'h', 'e', ' ', 'd', 'a', 'y', 'A', 'h', 'a', 's', ' ', 'b', 'e', 'e', 'n', ' ', 'l', 'o', 'n', 'g']
The dayAhas been long

e) Print the string from index 4 to 15

In [ ]:
w='The day has been long'
print(w[4:16])

day has been

f) Print the final string with its length

In [ ]:
print('The final string is: ', w)
print(len(w))

The final string is:  The day has been long
21